<section>
  <div class="container" >
     
         <span > All Task Here</span>

         <div class="card card-body rounded shadow">

            <div class="row">
                <div class="col-sm-4">
                    <h2>Open</h2>

                  <div class="card" cdkDrag>
                      
                    <div class="card-body">
                        
                      <h5 class="card-title"> title 1 </h5>
                      <p class="card-text">Description</p>
                      <h5>Status:Open </h5>
                      <a routerLink="../edit" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <h2>In-Progress</h2>
                  <div class="card" cdkDrag>
                    <div class="card-body">
                        
                      <h5 class="card-title">title 2 </h5>
                      <p class="card-text">Description</p>
                      <h5>Status:In-progress</h5>
                      <a routerLink="../edit" class="btn btn-primary">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <h2>Completed</h2>
                    <div class="card" cdkDrag>
                      <div class="card-body">
                        <h5 class="card-title">title 3</h5>
                        <p class="card-text">Description</p>
                        <h5>Status:Completed</h5>

                        <a routerLink="../edit" class="btn btn-primary">Edit</a>
                      </div>
                    </div>
                  </div>
              </div>  



         </div> 
    </div>
  

</section>
