.container{
    height: 1000px;
    width: 700px;
    box-sizing: border-box;
    padding-top: 50px;
}

span{
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    padding-left: 300px;
}